In [6]:
import pandas as pd
import numpy as np

In [7]:
data = pd.read_csv('adult.data.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

** 1. Сколько мужчин и женщин (признак sex) представлено в этом наборе данных? **

In [30]:
peopleCount = data['sex'].value_counts()
peopleCount.head()

Male      21790
Female    10771
Name: sex, dtype: int64

Ответ: Мужчин = 21790, Женщин = 10771

** 2. Каков средний возраст (признак age) женщин? **

In [40]:
female = data[data['sex'] == 'Female']
average = round(female['age'].mean(), 2) #округление до 2 знаков после точки
print(average)

36.86

Ответ: средний возраст женщин = 36.86

** 3. Какова доля граждан Германии (признак native-country)? **

In [128]:
germanyPeople = data[data['native-country'] == 'Germany']['sex']
participation = germanyPeople.value_counts()
participation.head()

Male      77
Female    60
Name: sex, dtype: int64

Ответ: всего граждан Германии = 137, из них мужчин = 77, женщин = 60

** 4-5. Каковы средние значения и среднеквадратичные отклонения возраста тех, кто получает более 50K в год (признак salary) и тех, кто получает менее 50K в год? **

In [39]:
poor = data[(data['salary'] == '<=50K')]['age'].mean()
rich = data[(data['salary'] == '>50K')]['age'].mean()
print(round(poor, 2))
print(round(rich, 2))

poor = data[(data['salary'] == '<=50K')]['age'].std()
rich = data[(data['salary'] == '>50K')]['age'].std()
print(round(poor, 2))
print(round(rich, 2))

36.78
44.25
14.02
10.52

Ответ:
- те, кто получает более 50К в год: средние значения = 44.25, среднеквадратичные отклонения возраста = 10.52
- те, кто получает менее 50К в год: средние значения = 36.78, среднеквадратичные отклонения возраста = 14.02

**6. Правда ли, что люди, которые получают больше 50k, имеют как минимум высшее образование? (признак education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters или Doctorate)**

In [196]:
clever = data[(data['salary'] == '>50K')]['education'].value_counts()
print(clever)

Bachelors       2221
HS-grad         1675
Some-college    1387
Masters          959
Prof-school      423
Assoc-voc        361
Doctorate        306
Assoc-acdm       265
10th              62
11th              60
7th-8th           40
12th              33
9th               27
5th-6th           16
1st-4th            6
Name: education, dtype: int64

Ответ: Правда, т.к. Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters, Doctorate в сумме = 4535, а остальные виды образования в сумме = 3306

** 7. Выведите статистику возраста для каждой расы (признак race) и каждого пола. Используйте groupby и describe. Найдите таким образом максимальный возраст мужчин расы Amer-Indian-Eskimo. **

In [255]:
ageStat = data.groupby('race')[['age', 'sex']].agg([np.min, np.max])
ageStat.head()

                    age          sex
                   amin amax    amin  amax
race
Amer-Indian-Eskimo   17   82  Female  Male
Asian-Pac-Islander   17   90  Female  Male
Black                17   90  Female  Male
Other                17   77  Female  Male
White                17   90  Female  Male

Ответ: максимальный возраст мужчин расы Amer-Indian-Eskimo = 82

** 8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак marital-status)? Женатыми считаем тех, у кого marital-status начинается с Married (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми. **

In [247]:
marriedMale = data[(data['salary'] == '>50K') & (data['sex'] == 'Male')]
result = marriedMale[(marriedMale['marital-status'].apply(lambda x: 'married-' in x.lower()))]['sex']
print(result.count())

result = unmarriedMale[(~marriedMale['marital-status'].apply(lambda x: 'married-' in x.lower()))]['sex']
print(result.count())

5965
697

Ответ: доля женатых мужчин, зарабатывающих >50K = 5965, холостых = 697

** 9. Какое максимальное число часов человек работает в неделю (признак hours-per-week)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много? **

In [307]:
hoursCount = data['hours-per-week'].max() 
print(hoursCount)

count = data[data['hours-per-week'] == hoursCount].shape[0]
print(count)

richCount = data[data['hours-per-week'] == hoursCount]['salary'].value_counts(normalize='>50K')
print(richCount)

99
85
<=50K    0.705882
>50K     0.294118
Name: salary, dtype: float64

Ответ: максимальное число часов в неделю = 99, количество часов = 85, зарабатываюших много = 0.294118

** 10. Посчитайте среднее время работы (hours-per-week) зарабатывающих мало и много (salary) для каждой страны (native-country). **

In [311]:
pd.crosstab(data['native-country'], data['salary'], data['hours-per-week'], aggfunc='mean')

salary                  <=50K       >50K
native-country
?                   40.164760  45.547945
Cambodia            41.416667  40.000000
Canada              37.914634  45.641026
China               37.381818  38.900000
Columbia            38.684211  50.000000
Cuba                37.985714  42.440000
Dominican-Republic  42.338235  47.000000
Ecuador             38.041667  48.750000
El-Salvador         36.030928  45.000000
England             40.483333  44.533333
...                       ...        ...
Portugal            41.939394  41.500000
Puerto-Rico         38.470588  39.416667
Scotland            39.444444  46.666667
South               40.156250  51.437500
Taiwan              33.774194  46.800000
Thailand            42.866667  58.333333
Trinadad&Tobago     37.058824  40.000000
United-States       38.799127  45.505369
Vietnam             37.193548  39.200000
Yugoslavia          41.600000  49.500000

[42 rows x 2 columns]